@charset 'UTF-8';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani:wght@300&display=swap');

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 25vh 10vh 15vh;
  perspective: 400px;

  main {
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
      position: absolute;
      top: -50px;
      left: 0;
      font: 34px/1 'Rajdhani';
      color: #555;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        display: block;
        width: 50px;
        height: 1px;
        background-color: #111;
      }
    }

    .btnUp {
      position: absolute;
      bottom: 160px;
      left: -70px;
      display: block;
      width: 61px;
      height: 50px;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: right top;
        display: block;
        width: 1px;
        height: 20px;
        background-color: #777;
        transition: .35s .2s;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      span {
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 1px;
        height: 40px;
        background-color: #777;
        transition: .35s;
      }
      p {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        font: 12px/1 'orbitron';
        color: #111;
        text-align: center;
        letter-spacing: 2px;
        transition: .35s;
      }

      &:hover {
        &::before {
          transform: rotate(45deg) translateY(-40px);
          opacity: 0;
        }
        &::after {
          transform: rotate(-45deg) translateY(-40px);
          opacity: 0;
        }
        span {
          transform: translateY(-40px);
          opacity: 0;
        }
        p {
          top: 50%;
          opacity: 1;
        }
      }
    }

    .btnDown {
      position: absolute;
      bottom: 0;
      left: -70px;
      display: block;
      width: 61px;
      height: 50px;

      &::before, &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform-origin: right bottom;
        display: block;
        width: 1px;
        height: 20px;
        background-color: #777;
        transition: .35s .2s;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
      span {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 1px;
        height: 40px;
        background-color: #777;
        transition: .35s;
      }
      p {
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translate(-50%, -50%);
        font: 12px/1 'orbitron';
        color: #111;
        text-align: center;
        letter-spacing: 2px;
        transition: .35s;
      }

      &:hover {
        &::before {
          transform: rotate(-45deg) translateY(40px);
          opacity: 0;
        }
        &::after {
          transform: rotate(45deg) translateY(40px);
          opacity: 0;
        }
        span {
          transform: translateY(40px);
          opacity: 0;
        }
        p {
          top: 50%;
          opacity: 1;
        }
      }
    }

    .panel {
      position: relative;
      width: 100%;
      height: 100%;

      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 400px;

        .bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: .8s;

          .pic {
            position: absolute;
            right: 5vw;
            bottom: 5vh;
            width: 33vw;

            path {
              stroke: #111;
              stroke-width: 1;
              stroke-dasharray: 1300;
              stroke-dashoffset: 1300;
              transition: stroke-dashoffset 2s .5s, fill .5s 1.5s;
            }
          }
        }

        &:nth-of-type(1) .bg {background: #ccfdea;}
        &:nth-of-type(2) .bg {background: #ccf6fd;}
        &:nth-of-type(3) .bg {background: #f0ffc8;}
        &:nth-of-type(4) .bg {background: #fffac8;}

        &.on .bg {
          transform: translateY(0) rotateX(0);
          opacity: 1;

          path {
            stroke-dashoffset: 0;
          }
        }
        &.up .bg {
          transform: translateY(-80%) rotateX(50deg);
          opacity: 0;
        }
        &.down .bg {
          transform: translateY(80%) rotateX(-50deg);
          opacity: 0;
        }
      }
    }
  }
}